<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <td><input type="text" id="name" name="name"/></td>
        </tr>
        <tr>
            <th>Surname</th>
            <td><input type="text" id="surname" name="surname"/></td>
        </tr>
        <tr>
            <th>Address</th>
            <td><input type="text" id="address" name="address"/></td>
        </tr>
        <tr>
            <th>City</th>
            <td><input type="text" id="city" name="city"/></td>
        </tr>
        <tr>
           <th>Country</th>
            <td><input type="text" id="country" name="country"/></td>
        </tr>
        <tr>
            <th>Phone number</th>
            <td><input type="number" id="phonenum" name="phonenum"/></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><input type="email" id="email" name="email"/></td>
        </tr>
        <tr>
           <th>Password</th>
            <td><input type="password" id="password" name="password"/></td>
        </tr>
        <tr>
            <td>
                <input type="submit" id="reg" name="reg" value="Register"/>

            </td>
            <td><a href="/">Already registered? Log in here.</a></td>
        </tr>

    </table>
</body>
</html>