{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">{{ current_user.username }}</h2>
          <p class="text-secondary">{{ current_user.email }}</p>
        </div>
      </div>
            <fieldset>
                <legend class="border-bottom mb-4">Your Balance</legend>
                <div>
                    <p>Money: {{ current_balance }}</p>
                </div>
            </fieldset>
    </div>
{% endblock content %}